/* style={{"width": "18rem", "maxHeight":"360px", "backgroundColor": "#4b4b4b"}} */

.item{
    width: 18rem;
    max-height: 360px !important;
    background-color: #353535;
}

.dropdown{
    /* background-color: #ddb5ab; */
    background-color: #222222;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-color: #222222 ;

}

.card-images{
    max-height: 180px !important;
    object-fit: fill !important;
    min-height: 180px;
}

.card{
    min-height: 390px;
}

.btn-cart{
    background-color: #ff785a !important;
    color: white;
    /* margin-left: 50px !important; */
    margin-left: 23% !important;
}